<h1>Tabs</h1>
<p>
  The tabs module demonstrate the usage of two components bundled into a single module.
  The tabs itself use the <i>&lt;angular-tabs&gt;</i> selector.
  The structure is like this:
</p>
<p>
  <code>
     &lt;angular-tabs&gt;<br/>
       &lt;angular-tab title="Title of the tab"&gt;<br/>
       This ist the content of the tab!<br/>
       &lt;/angular-tab&gt;<br/>
     &lt;/angular-tabs&gt;<br/>
  </code>
</p>
<p>
  You can see an example below:
</p>
<p>
  <app-tabs-demo></app-tabs-demo>
</p>

<h1>Calculator</h1>
<p>
  The calculator component shows an input field with an attached calculator. This looks like this:
</p>
<p>
  <code>
     &lt;angular-calculator&gt;&lt;/angular-calculator&gt;<br/>
  </code>
</p>
<p>
  <app-calculator-demo></app-calculator-demo>
</p>
<p>
  You can also use your num pad to enter numbers.
</p>

<h1>Tasklist Store</h1>
<p>
  The Tasklist Store implements the Datastore Pattern by separating backend logic and view state. The component binds
  to a service variable and display the current state of that variable. That service variable is managed by a datastore
  and never changed directly. The datastore accepts several actions (like 'LOAD' or 'DELETE') and applies those actions
  to the view state. A in memory mock implementation is used here to mimic a rest backend. Currently only the SELECT and
  DELETE actions are implemented in the view.
</p>
<p>
  A generic store version is provided, too.
</p>
<p>
  <app-task-list></app-task-list>
</p>
