<h1>Tabs</h1>
<p>
  The tabs module demonstrate the usage of two components bundled into a single module.
  The tabs itself use the <i>&lt;angular-tabs&gt;</i> selector.
  The structure is like this:
</p>
<p>
  <code>
     &lt;angular-tabs&gt;<br/>
       &lt;angular-tab title="Title of the tab"&gt;<br/>
       This ist the content of the tab!<br/>
       &lt;/angular-tab&gt;<br/>
     &lt;/angular-tabs&gt;<br/>
  </code>
</p>
<p>
  You can see an example below:
</p>
<p>
  <app-tabs-demo></app-tabs-demo>
</p>
<p>
  Have a look at the <i>tabs-demo</i> component and the <i>tabs</i> module.
</p>
