<angular-tabs>
  <angular-tab title="First Tab">
    This is the first tab!
  </angular-tab>
  <angular-tab title="Second Tab">
    This is the second tab!
  </angular-tab>
  <angular-tab title="More">
    Its also possible to display child tabs as seen below:
    <p>
      <angular-tabs>
        <angular-tab title="Child 1">This is the content of child tab 1.</angular-tab>
        <angular-tab title="Child 2">This is the content of child tab 2.</angular-tab>
      </angular-tabs>
    </p>
  </angular-tab>
</angular-tabs>
